.home {
  .hero {
    display: flex;
    min-height: 450px;
    padding: 30px 40px 40px;
    background-image: url('./lab_1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 660px) {
      justify-content: flex-end;
    }

    .title {
      position: relative;
      color: #fff;
      font-size: 40px;

      &::after {
        content: 'Home';
        position: absolute;
        top: -2px;
        left: -2px;
        color: black;
      }
    }
  }

  @for $i from 1 through 4 {
    .puppy#{$i} {
      background-image: url(./puppy_#{$i}.jpeg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 200px;
    }
  }
}
