.facts {
  .hero {
    display: flex;
    min-height: 450px;
    padding: 30px 40px 40px;
    background-image: url(./cute_puppy.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .title {
      position: relative;
      color: #fff;
      font-size: 40px;

      &::after {
        content: 'Fun facts';
        position: absolute;
        top: -2px;
        left: -2px;
        color: black;
      }
    }
  }

  @for $i from 1 through 2 {
    .dog#{$i} {
      background-image: url(./dog_#{$i}.jpeg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 350px;
    }
  }
}
